backend/venv/
backend/__pycache__/
backend/**/__pycache__/
backend/*.sqlite3
backend/staticfiles/
backend/media/
backend/.env
backend/.env.docker
!backend/.env.example
!backend/.env.docker.example

frontend/node_modules/
frontend/dist/
frontend/.env
!frontend/.env.example

.DS_Store
